{% extends "site_app/global/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Novo Cadastro</h5>
                    <form action="{% url 'criar' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome completo</label>
                            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome completo">
                        </div>
                        <div class="mb-3">
                            <label for="nascimento" class="form-label">Data de Nascimento</label>
                            <input type="date" class="form-control" id="nascimento" name="nascimento" placeholder="Data de Nascimento">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="example@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="pais" class="form-label">País Pretendido</label>
                            <input type="text" class="form-control" id="pais" name="pais" placeholder="País Pretendido">
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">Salvar</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    {% if nome %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Dados obtidos</h5>
                        <p class="card-text text-center">{{ nome }} {{ nascimento }} {{ email }} {{ pais }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}
